body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    /*transition: opacity .5s;*/
    transition: all 1s ease;
    background-color: #333333;
}
.background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.headerWrapper{
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.titleimage{
    padding: 25px;
    position: relative;
    margin: auto;
    width: 328px;
}

.headerMiddle .button{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.headerMiddle{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
    text-align: center;
    white-space: nowrap;

}
#logo{
    position: absolute;
    top:0;
    left:0;
    margin: 15px 25px;
    color: white;
    font-size: 25pt;

}

.button{

    display: inline-block;
    vertical-align: middle;
    width: 150px;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    color: rgb(255, 255, 255);

    text-decoration: none;
    font-size: 18pt;
    font-weight: 500;
    text-transform: uppercase;

}

.button{

}

.button:hover{
    transition: all 0.3s ease;
    color: rgb(3, 206, 228);
}

.maincontent{
    position: relative;
    width: 1000px;
    margin: auto
}

.titlediv{
    margin-top: 0px;
    padding: 10px;
    text-align: center;
    color: white;

}

.insidecontent{
    color: white;
    padding: 15px;
    font-size: 16pt;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.6)
}

@media (max-width: 1000px) {
    .maincontent {
        width: 100%;
    }
    #logo {
        width: 100%;
        margin: 0;
        padding: 0;

    }
    .button {
        width: 33.333%;
        float: left;
        margin-top: 50px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .headerWrapper {
        height: 120px;
    }
}

/* Loading animation below */
.lds-ellipsis {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 50%;
    margin-top: -32px;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgb(3, 206, 228);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  